<h2>Edit Merchant <%= @merchant.id %></h2>

<form method="post" action="/merchants/<%= @merchant.id %>">

  <label for="name">Name:</label>
  <input id="name" class="input-text" type="text" name="name" value=<%= @merchant.name %> />

  <input class="input-submit" type='submit' value="Edit Merchant"/>

</form>
