<h2>Merchants</h2>

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head">Merchant Id</div>
  <div class="table-head">Name</div>

  <div class="table-box"></div>
  <div class="table-box"></div>

<% @merchants.each do |merchant| %>

  <div class="table-box"><a href="/merchants/<%= merchant.id %>"><%= merchant.id %></a></div>
  <div class="table-box"><%= merchant.name %></div>

<% end %>

</div>
