<h2>Merchants</h2>

<form method="post" action="/merchants">

<div class="three-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="name">Enter New</label></div>
  <div class="table-box"><input id="name" class="input-text" type="text" name="name" /></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Confirm New"/></div>

</div>

</form>


<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head ca">Id / Edit</div>
  <div class="table-head la">Name</div>

  <div class="table-box"></div>
  <div class="table-box"></div>

<% @merchants.each do |merchant| %>

  <div class="table-box ca"><a class="remove-link" href="/merchants/<%= merchant.id %>/edit"><div class="edit"><%= merchant.id %></div></a></div>
  <div class="table-box la"><%= merchant.name %></div>

<% end %>

</div>

<div class="spacer"></div>
