<h2>New Merchant</h2>

<form method="post" action="/merchants">

  <label for="name">Name:</label>
  <input id="name" class="input-text" type="text" name="name" />

  <input class="input-submit" type='submit' value="Enter Merchant"/>

</form>
