<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TrackSpend</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/inputs.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/data_tables.css">
</head>
<body>

<div id="content-container">

  <div id="branding">
    <h1><a class="remove-link" href="/">TrackSpend</a></h1>
  </div>

  <div id="nav-bar">
    <div class="nav-container">
      <a class="div-link" href="/transactions">
        <div class="div-button">Transactions</div>
      </a>
      <a class="div-link" href="/merchants">
        <div class="div-button">Merchants</div>
      </a>
      <a class="div-link" href="/tags">
        <div class="div-button">Tags</div>
      </a>
      <a class="div-link" href="/budgets">
        <div class="div-button">Budget</div>
      </a>
    </div>

  </div>

  <div id="data-section">
    <%= yield %>
  </div>

</div>

</body>
</html>
