<h2>Edit Tag <%= @tag.id %></h2>

<form method="post" action="/tags/<%= @tag.id %>">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value=<%= @tag.name %> />

  <input type='submit' value="Edit Tag"/>
  
</form>
