<h2>Edit Tag <%= @tag.id %></h2>

<form method="post" action="/tags/<%= @tag.id %>">

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="name">Name:</label></div>
  <div class="table-box"><input id="name" class="input-text" type="text" name="name" value=<%= @tag.name %> /></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Edit Tag"/></div>

</div>

</form>
