<h2>Tags</h2>

<div class="two-col-table">

  <div class="table-head">Tag Id</div>
  <div class="table-head">Name</div>

<% @tags.each do |tag| %>

  <div class="table-box"><a href="/tags/<%= tag.id %>"><%= tag.id %></a></div>
  <div class="table-box"><%= tag.name %></div>

<% end %>

</div>
