<h2>Tags</h2>

<form method="post" action="/tags">

<div class="three-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="name">Enter New</label></div>
  <div class="table-box"><input id="name" class="input-text" type="text" name="name" /></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Confirm New"/></div>

</div>

</form>


<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head ca">Id / Edit</div>
  <div class="table-head la">Name</div>

  <div class="table-box"></div>
  <div class="table-box"></div>

<% @tags.each do |tag| %>

  <div class="table-box ca"><a class="remove-link" href="/tags/<%= tag.id %>/edit"><div class="edit"><%= tag.id %></div></a></div>
  <div class="table-box la"><%= tag.name %></div>

<% end %>

</div>

<div class="spacer"></div>
