.six-col-table {
  display: grid;
  /* width: 100%; */
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  grid-auto-rows: minmax(30px, auto);
}

.two-col-table {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-auto-rows: minmax(30px, auto);
}

.three-col-table {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-auto-rows: minmax(30px, auto);
}

.four-col-table {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-auto-rows: minmax(30px, auto);
}

.table-head {
  padding: 0 15px;
  font-weight: 600;
  align-self: center;
}

.table-box {
  padding: 0px 15px;
  font-weight: 200;
  align-self: center;
}

.table-box-contain {
  padding: 0px 15px;
  font-weight: 200;
  /* align-self: center; */
}

.table-total {
  padding: 0 15px;
  font-weight: 600;
  align-self: center;
}

.table-warning {
  padding: 0 15px;
  font-weight: 600;
  color: red;
  align-self: center;
}

.la {
  justify-self: start;
}

.ra {
  justify-self: end;
}

.ca {
  justify-self: center;
}
