
/* container */
.hidden-radio-dropdown {
  position: absolute;
  display: inline;
  /* display: flex; */
  /* flex-direction: column; */
}
/* hide the radio buttons */
.hidden-radio-button {
  display: none;
}
/* hide the header labels as standard... */
.hidden-radio-label {
  display: none;
}
/* ... but show when related hidden radio button selected ... */
.hidden-radio-button:checked+.hidden-radio-label {
  display: block;
}
/* ... and show all on hover  */
.hidden-radio-dropdown:hover .hidden-radio-label {
  display: block;
  z-index: 1;
}
/* use inner div for better styling */
.hidden-radio-div {
  height: 26px;
  width: 150px;
  line-height: 26px; /* equal to height */
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  background: lightgrey;
  color: grey;
}
/* styling on hover */
.hidden-radio-div:hover {
  background: grey;
  color: white;
  cursor: pointer;
}
/* styling on active */
.hidden-radio-div:active {
  background: darkblue;
  color: lightgrey;
}
/* styling when related hidden radio button selected */
.hidden-radio-button:checked+label>.hidden-radio-div {
  color: darkblue;
  background: grey;
}
