.input-submit {
  width: 200px;
  padding: 6px 20px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 200;
  background: lightgreen;
}
.input-submit:hover {
  cursor: pointer;
  background: darkgreen;
}
.input-submit-edit {
  background: orange;
}
.input-submit-edit:hover {
  background: darkorange;
}
.input-submit-delete {
  background: red;
}
.input-submit-delete:hover {
  background: darkred;
}
.input-submit-div {
  text-align: center;
}

.input-text {
  width: 200px;
  padding: 7px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 200;
  background: lightgrey;
  text-align: right;
}

.input-date-time {
  width: 200px;
  padding: 5px;
  /* adds extra 2px I think */
  border: 1px solid black;
  font-size: 14px;
  font-weight: 200;
  background: lightgrey;
  text-align: right;
}

/* container */
.hidden-radio-dropdown {
  position: absolute;
  display: inline;
  height: 30px;
  width: 200px;
  background: lightgrey;
  border: 1px solid black;
}
/* hide the radio buttons */
.hidden-radio-button {
  display: none;
}
/* hide the header labels as standard... */
.hidden-radio-label {
  display: none;
  z-index: 0;
}
/* ... but show when related hidden radio button selected ... */
.hidden-radio-button:checked+.hidden-radio-label {
  display: block;
  z-index: 0;
  color: black;
}
/* ... and show all on hover  */
.hidden-radio-dropdown:hover .hidden-radio-label {
  display: block;
  position: relative;
  z-index: 1;
  overflow: visible;
  color: grey;
}
/* use inner div for better styling */
.hidden-radio-div {
  height: 28px; /* less 2 for parent border */
  width: 198px; /* less 2 for parent border */
  padding: 7px;
  background: lightgrey;
  line-height: 14px; /* equal to height */
  text-align: right;
  vertical-align: middle;
  font-size: 14px;
  /* font-weight: 400; */
  background: lightgrey;
}
/* styling on hover */
.hidden-radio-div:hover {
  background: grey;
  color: white;
  cursor: pointer;
}
/* styling on active */
.hidden-radio-div:active {
  background: darkblue;
  color: lightgrey;
}
/* styling when related hidden radio button selected */
.hidden-radio-button:checked+.hidden-radio-label>.hidden-radio-div {
  color: black;
  background: lightgrey;
}
