.input-submit {
  margin: 0;
  background: grey;
  display: inline;
  height: 30px;
  width: 200px;
  padding: 0px;
  border: 1px solid black;
  font-size: 16px;
}

.input-text {
  margin: 0;
  padding-left: 2px;
  background: lightgrey;
  display: inline;
  height: 30px;
  width: 200px;
  padding: 0px;
  border: 1px solid black;
  font-size: 16px;
}

.input-date-time {
  margin: 0;
  padding-left: 2px;
  background: lightgrey;
  display: inline;
  height: 30px;
  width: 200px;
  padding: 0px;
  border: 1px solid black;
  font-size: 16px;
}

/* container */
.hidden-radio-dropdown {
  position: absolute;
  display: inline;
  height: 30px;
  width: 200px;
  padding: 0px;
  background: lightgrey;
  border: 1px solid black;
  font-size: 16px;
}
/* hide the radio buttons */
.hidden-radio-button {
  display: none;
}
/* hide the header labels as standard... */
.hidden-radio-label {
  display: none;
  z-index: 0;
}
/* ... but show when related hidden radio button selected ... */
.hidden-radio-button:checked+.hidden-radio-label {
  display: block;
  z-index: 0;
}
/* ... and show all on hover  */
.hidden-radio-dropdown:hover .hidden-radio-label {
  display: block;
  position: relative;
  z-index: 1;
  overflow: visible;
}
/* use inner div for better styling */
.hidden-radio-div {
  height: 30px;
  width: 200px;
  padding: 0px;
  background: lightgrey;
  border: 1px solid black;
  line-height: 30px; /* equal to height */
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  background: lightgrey;
  color: grey;
}
/* styling on hover */
.hidden-radio-div:hover {
  background: grey;
  color: white;
  cursor: pointer;
}
/* styling on active */
.hidden-radio-div:active {
  background: darkblue;
  color: lightgrey;
}
/* styling when related hidden radio button selected */
.hidden-radio-button:checked+.hidden-radio-label>.hidden-radio-div {
  color: darkblue;
  background: grey;
}
