<h2>Filter Transactions</h2>

<form method="get" action="/transactions/filtered">

<div class="two-col-table">

  <div class="table-head"><label for="start_date_time">StartDate-time:</label></div>
  <div class="table-box"><input id="start_date_time" type="datetime-local" name="start_date_time" /></div>

  <div class="table-head"><label for="end_date_time">EndDate-time:</label></div>
  <div class="table-box"><input id="end_date_time" type="datetime-local" name="end_date_time" /></div>

  <div class="table-head"><label for="min_amount">MinAmount:</label></div>
  <div class="table-box"><input id="min_amount" class="input-text" type="text" name="min_amount" value="" /></div>

  <div class="table-head"><label for="max_amount">MaxAmount:</label></div>
  <div class="table-box"><input id="max_amount" class="input-text" type="text" name="max_amount" value="" /></div>

  <div class="table-head"><label for="merchant_id">Select a merchant:</label></div>
  <div class="table-box">
    <select id="merchant_id" name="merchant_id">
      <option selected="selected" value="" >--</option>
      <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </div>

  <div class="table-head"><label for="tag_id">Select a tag:</label></div>
  <div class="table-box">
    <select id="tag_id" name="tag_id">
      <option selected="selected" value="" >--</option>
      <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Filter Transactions"/></div>

</div>

</form>
