<h2>New Transaction</h2>

<form method="post" action="/transactions">

  <label for="amount">Amount:</label>
  <input id="amount" type="text" name="amount" />

  <label for="merchant_id">Select a merchant:</label>
  <select id="merchant_id" name="merchant_id">
    <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <label for="tag_id">Select a tag:</label>
  <select id="tag_id" name="tag_id">
    <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

  <input type='submit' value="Enter Transaction"/>
  
</form>
