<h2>Edit Budget <%= @budget.id %></h2>

<form method="post" action="/budgets/<%= @budget.id %>">

<div class="two-col-table">

  <div class="table-head"><label for="amount">Amount:</label></div>
  <div class="table-box"><input id="amount" class="input-text" type="text" name="amount" value=<%= Budget.money_amount(@budget.amount) %> /></div>

  <div class="table-head"><label for="warning">Warning:</label></div>
  <div class="table-box"><input id="warning" class="input-text" type="text" name="warning" value=<%= Budget.money_amount(@budget.warning) %> /></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Edit Budget"/></div>

</div>

</form>
