<h2>Edit Monthly Budget <%= @budget.id %></h2>

<form method="post" action="/budgets/<%= @budget.id %>">

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head la"><label for="amount">Budget</label></div>
  <div class="table-box ra"><input id="amount" class="input-text" type="text" name="amount" value=<%= Budget.money_input(@budget.amount) %> /></div>

  <div class="table-head la"><label for="warning">Warning</label></div>
  <div class="table-box ra"><input id="warning" class="input-text" type="text" name="warning" value=<%= Budget.money_input(@budget.warning) %> /></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit input-submit-edit" type='submit' value="Confirm Edit"/></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-box"></div>
  <div class="table-box"><a class="remove-link" href="/budgets"><div class="input-submit input-submit-div">Cancel</div></a></div>

</div>

</form>
