<h2>New Budget</h2>

<form method="post" action="/budgets">

<div class="two-col-table">

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"><label for="amount">Budget</label></div>
  <div class="table-box"><input id="amount" class="input-text" type="text" name="amount" /></div>

  <div class="table-head"><label for="warning">Warning</label></div>
  <div class="table-box"><input id="warning" class="input-text" type="text" name="warning" /></div>

  <div class="table-box"></div>
  <div class="table-box"></div>

  <div class="table-head"></div>
  <div class="table-box"><input class="input-submit" type='submit' value="Enter Budget"/></div>

</div>

</form>
